In [6]:
import pandas as pd

import RAW_Toolbox as toolbox

In [8]:
df = pd.read_csv(".\data\dataframe.csv", sep='|')

In [9]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,5.33,36.2

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  LSTAT    506 non-null    float64
 12  MEDV     506 non-null    float64
dtypes: float64(13)
memory usage: 51.5 KB

In [11]:
toolbox.describe_df(df)

      COL_N DATA_TYPE  MISSINGS(%)  UNIQUE_VALUES  CARDIN(%)
0      CRIM   float64          0.0            504  99.604743
1        ZN   float64          0.0             26   5.138340
2     INDUS   float64          0.0             76  15.019763
3      CHAS   float64          0.0              2   0.395257
4       NOX   float64          0.0             81  16.007905
5        RM   float64          0.0            446  88.142292
6       AGE   float64          0.0            356  70.355731
7       DIS   float64          0.0            412  81.422925
8       RAD   float64          0.0              9   1.778656
9       TAX   float64          0.0             66  13.043478
10  PTRATIO   float64          0.0             46   9.090909
11    LSTAT   float64          0.0            455  89.920949
12     MEDV   float64          0.0            229  45.256917

In [13]:
toolbox.tipifica_variables(df, 5,15)

   nombre_variable      tipo_sugerido
0             CRIM  Numerica Continua
1               ZN  Numerica Discreta
2            INDUS  Numerica Continua
3             CHAS            Binaria
4              NOX  Numerica Continua
5               RM  Numerica Continua
6              AGE  Numerica Continua
7              DIS  Numerica Continua
8              RAD  Numerica Discreta
9              TAX  Numerica Discreta
10         PTRATIO  Numerica Discreta
11           LSTAT  Numerica Continua
12            MEDV  Numerica Continua

In [15]:
toolbox.get_features_num_regression(df, "MEDV", 0.4, 0.05)

['INDUS', 'NOX', 'RM', 'TAX', 'PTRATIO', 'LSTAT', 'MEDV']

In [19]:
toolbox.plot_features_num_regression(df, 'MEDV', ['INDUS', 'NOX', 'RM', 'TAX', 'PTRATIO', 'LSTAT', 'MEDV'], 0.05)

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().